# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

.env

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Project-specific
data/
encryption_key.key
patient_info_map.json
*.dcm
*.log 
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.wim